body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  background: #ddd;
}

main {
  min-width: 480px;
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
  padding: 10px 15px 30px;
}